<section id="asiento">
        
        <div>
            <label>Cantidad</label>
            <input type="number" ng-model="cantidadAsientos"></input>
        </div>
    
        <div id="pantalla">Pantalla</div>
        <div id="filaA">
            <div ng-repeat="asientoAA in asientosFilaAA">
                <button class="no_selected" type="button" ng-click="isSelected($event)">
                <label> {{asientoAA.numero}}</label>
            </div>

            <div ng-repeat="asientoAB in asientosFilaAB">
                <button class="no_selected" type="button" ng-click="isSelected($event)">
                <label> {{asientoAB.numero}}</label>
            </div>
        </div>
                
        <div id="filaB">
            <div ng-repeat="asientoBA in asientosFilaBA">
                <button class="taken" type="button" ng-click="isSelected($event)">
                <label> {{asientoBA.numero}}</label>
            </div>

            <div ng-repeat="asientoBB in asientosFilaBB">
                <button class="no_selected" type="button" ng-click="isSelected($event)">
                <label> {{asientoBB.numero}}</label>
            </div>
        </div>
                
        <div id="filaP">
            <div ng-repeat="asientoPA in asientosFilaPA">
                <button class="no_selected" type="button" ng-click="isViPSelected($event)">
                <label> {{asientoPA.numero}}</label>
            </div>

            <div ng-repeat="asientoPB in asientosFilaPB">
                <button class="no_selected" type="button" ng-click="isViPSelected($event)">
                <label> {{asientoPB.numero}}</label>
            </div>
        </div>
		<li><a href="#/resultado">Siguente</a></li>
</section>