#pantalla{
    width: 200px;
    height: 50px;
    background-color: black;
    color: cornsilk;
    margin: 10px 0 10px 50px;
}

.no_selected{
    width: 54px;
    height: 45px;
    /*background-image: url("assets/img/no_selected.png");*/ 
    background-image: url(../img/no_selected.png);
}

.selected{
    width: 54px;
    height: 45px;
    background-image: url("../img/selected.png"); 
}

.taken{
    width: 54px;
    height: 45px;
    background-image: url("../img/taken.png"); 
}

#filaA, #filaB, #filaP{
    width: 600px;
    height: 50px;
} 

.no_selected, .selected, .taken{
    float: left;
    display: inline-block;
    margin: 0 5px 0 5px;
}

.pelicula_item {
	border: 1px solid #000;
	width: 400px;
	padding: 4px;
	margin: 10px
}

.pelicula_item img {
	width: 100px;
}

.pelicula_title {
	font-size: 1.3em;
}