<section id="pelicula">
	<h1>Lista de Películas</h1>
	<div ng-repeat="pelicula in peliculas">
		<div class="pelicula_item">
			<div style="float: left;margin-right:30px">
				<span class="pelicula_title">{{pelicula.nombre}}</span>
				<br />
				<img src="{{pelicula.img}}" />
			</div>
			<div style="margin-top: 30px">
				<label ng-repeat="tanda in pelicula.tandas">
				<input type="radio" name="pelicula_seleccionada" value="" ng-click="seleccionarPelicula(pelicula.nombre, tanda.hora);" >
				{{tanda.hora}}
				<br />
				</label>
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
    <li><a href="#/asiento">Siguiente</a></li>
</section>