
			  <div class="widget-header">
				<div class="title">
				  Modificar un evento 
				  <span class="mini-title">
					Simple form for new Accoun <a id="create-account">t</a>
				  </span>
				</div>
			  </div>
			  <div class="widget-body">
				<form class="form-horizontal no-margin">
					<!--Form group start titulo-->
					<div class="form-group">
					<label for="eventTitulo" class="col-sm-2 control-label">Titulo</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" id="eventTitulo" placeholder="Titulo">
					</div>
				  </div>
					<!--Form group end titulo-->
					
					<!--Form group start Descripcion-->
				  <div class="form-group">
					<label for="desc" class="col-sm-2 control-label">Descripción</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" id="desc" placeholder="Descripción">
					</div>
				  </div>
					<!--Form group end Descripcion-->
					
					<!--Form group start fecha-->
				  <div class="form-group">
					<label for="pwd" class="col-sm-2 control-label">Fecha</label>
					<div class="col-sm-10">
					  <div class="row">
						<div class="col-sm-4" ng-controller="calendar">
                            <p class="input-group">
                              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
						</div>
					  </div>
					</div>
				  </div>

                    <!--Form group end fecha-->
					
					<!--Form group start Categoria-->
				  <div class="form-group">
					<label for="pwd" class="col-sm-2 control-label">Categoria</label>
					<div class="col-sm-10">
					  <div class="row">
						<div class="col-md-4 col-sm-4 col-xs-4">
						  <select name="categoria"  class="form-control">
							<option>
							  - Categoria -
							</option>
							<option value="1">
							  Deporte
							</option>
							<option value="2">
							  Cine-Teatro
							</option>
							<option value="3">
							  Musica
							</option>
							<option value="4">
							  Aire Libre
							</option>
						  </select>
						</div>
					  </div>
					</div>
				  </div>
					<!--Form group end Hora Categoria-->  
					
					<!--Form group start Subcategoria-->
					<div class="form-group">
						<label for="subCategoria" class="col-sm-2 control-label">SubCategoria</label>
						<div class="col-sm-10">
						  <input type="text" class="form-control" id="subCategoria" placeholder="SubCategoria">
						</div>
				  </div>
					<!--Form group end Subcategoria-->
					
					<!--Form group start Costo-->
					<div class="form-group">
						<label for="costo" class="col-sm-2 control-label">Costo</label>
						<div class="col-sm-10">
						  <input type="text" class="form-control" id="costo" placeholder="Costo">
						</div>
				   </div>
					<!--Form group end Costo-->
					
					 <!--Form group start Imagen-->
					<div class="form-group">
						<label for="img" class="col-sm-2 control-label">Imagen</label>
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-info fa fa-cloud-upload"></button>
                        </div>
				   </div>
					<!--Form group end Imagen-->
					
					<!--Form group start Lugar-->
					<div class="form-group">
						<label for="lugar" class="col-sm-2 control-label">Lugar</label>
						<div class="col-sm-10">
						  <input type="text" class="form-control" id="lugar" placeholder="Lugar">
						</div>
				   </div>
					<!--Form group end Lugar-->
						
					 <!--Form group start Direccion-->
					<div class="form-group">
						<label for="direc" class="col-sm-2 control-label">Dirección</label>
						<div class="col-sm-10">
						  <input type="text" class="form-control" id="direc" placeholder="Direccion">
						</div>
				   </div>
					<!--Form group end Direccion-->
					
					
					<!--Form group start Contenido Sensible-->
					<div class="form-group row">
						<label for="direc" class="col-sm-2 control-label">Contenido Sensible</label>
                        <div class="col-sm-1">
                            <input type="checkbox" class="form-control" id="direc">
                        </div>
						<div class="col-sm-6">
                            <p>Este evento tiene contenido solo para mayores de edad</p>
						</div>
				   </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-info">Publicar Evento</button>
                        </div>
                      </div>
					<!--Form group end Contenido Sensible-->
				</form>
			  </div>
			